page-home {

  ion-card {
    position: relative;
    text-align: center;
    cursor: pointer;
  }

  .card-format {
    position: absolute;
    top: 25%;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .card-format-title {
    font-size: 2.0em;
  }

  .card-format-subtitle {
    font-size: 1.0em;
  }
}
