<ion-header class="header">
  <ion-navbar>
  <!--
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
      -->
    <ion-title>Eventus System</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content" style="padding-left: 2px; padding-right: 2px;">
  
  <!--
  <p *ngIf="teste">
    Teste: {{teste}}
  </p>

  <p *ngIf="endereco">
    Logradouro: {{endereco}}
  </p>

  <p *ngIf="erro">
    Erro: {{erro}}
  </p>

  <p *ngIf="usuarios">
    Nome: {{usuarios[0].nom_usuario_usr}}
  </p>

  <p *ngIf="usuarios2">
    Nome2: {{usuarios[0].nom_usuario_usr}}
  </p>

  <p *ngIf="responseEvento">
    Status: {{responseEvento.status}}
    <br />
    OK: {{responseEvento.ok}}
    <br />
    Url: {{responseEvento.url}} <br />
  </p>
  -->

  <ion-list>

    <ion-card *ngFor="let evento of eventos">

      <!--
      <ion-item class="card-format-title">
        <ion-avatar item-start>
          <img src="https://evesix.insix.com.br/img/evento/{{evento.cod_evento_eve}}.jpg">
        </ion-avatar>
        <h2>{{evento.des_evento_eve}}</h2>
      </ion-item>
      -->

      <ion-card-content class="card-format-title">
        <h2>
          {{evento.des_evento_eve}}
        </h2>
      </ion-card-content>

      <!--
      <img src="https://evesix.insix.com.br/img/evento/card-{{evento.cod_evento_eve}}.png" />
      -->
      <img src="https://evesix.insix.com.br/img/evento/{{evento.nom_img_card}}" />

      <ion-card-content class="card-format-content">
        <p>
          <span style="font-size: smaller; color: #a3a3a3;">Local:</span>
          <br />
          {{evento.des_cidade_eve}}/{{evento.sgl_uf_eve}}
          <br />
          <span style="font-size: smaller; color: #a3a3a3;">Período:</span>
          <br />
          {{evento.dat_evento_eve | date:'dd/MM/yyyy'}} até
          {{evento.dat_evento_fim_eve | date:'dd/MM/yyyy'}}
        </p>
      </ion-card-content>

      <ion-row class="card-format-footer">
        <ion-col>
          <button ion-button icon-start clear small (click)="irParaInscricao(evento.cod_evento_eve)">
            <ion-icon name="laptop"></ion-icon>
            <div>Informações</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small (click)="irParaAcessoRestrito(evento.cod_evento_eve)">
            <ion-icon name="lock"></ion-icon>
            <div>Acesso</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

    <!--
    <ion-card *ngFor="let evento of eventos" (click)="consultarEvento(evento.cod_evento_eve)">
      <img src="assets/imgs/card-amsterdam.png" />
      <div class="card-format" style="padding: 0px 5px 0px 5px;">
        <span class="card-format-title">
          {{evento.des_evento_eve}}
        </span>
        <br />
        <span class="card-format-subtitle">
          {{evento.des_cidade_eve}}/{{evento.sgl_uf_eve}}
        </span>
        <br />
        <span class="card-format-subtitle">
          {{evento.dat_evento_eve | date:'dd/MM/yyyy'}} até
          {{evento.dat_evento_fim_eve | date:'dd/MM/yyyy'}}
        </span>
      </div>
    </ion-card>
        -->
  </ion-list>

  <!--
  <ion-item style="padding: 0;">
    <ion-label floating>CEP</ion-label>
    <ion-input type="number" [(ngModel)]="cepDigitado"></ion-input>
  </ion-item>

  <button ion-button block icon-start (click)="buscarEndereco()">
    <ion-icon ios="ios-search" md="md-search"></ion-icon>
    Consultar
  </button>

  <p *ngIf="response">
    CEP: {{response.cep}}
    <br />
    Logradouro: {{response.logradouro}}
  </p>

  <button ion-button icon-start block (click)="cadastrarEstudante()">
    <ion-icon ios="ios-search" md="md-search"></ion-icon>
    Cadastrar Estudantes
  </button>

  <ion-card>
    <img src="assets/imgs/card-saopaolo.png" />
    <div class="card-title">São Paulo</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>
  <ion-card>
    <img src="assets/imgs/card-amsterdam.png" />
    <div class="card-title">Amsterdam</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>
  <ion-card>
    <img src="assets/imgs/card-sf.png" />
    <div class="card-title">San Francisco</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>
  <ion-card>
    <img src="assets/imgs/card-madison.png" />
    <div class="card-title">Madison</div>
    <div class="card-subtitle">28 Listings</div>
  </ion-card>
  -->

</ion-content>
